.App {
  text-align: center;
  font-family: 'Crimson Text', serif;
}

.logo{
    padding-left: 30px;
    font-size: 50px;
    font-weight: bold;
}
.list{
    padding-right: 10px;
    font-size: 16px;
}
.home{
    background-image: url("https://i.imgur.com/fuQPtmK.jpg");
    height: 700px;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
}
.heading{
    font-size: 50px;
    font-family: 'Merienda', cursive;
}
.sub{
    font-family: 'Merienda', cursive;
    margin-left: 120px;
}
.login{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 40px;
}
.log{
    margin: auto;
    width: 80px;
    height: 40px;
    border-radius: 10%;
    background-color: black;
    color: white;
    cursor: pointer;
}
.label{
    font-size: 20px;
}
.foot{
    text-align: left;
    color: blue;
    cursor: pointer;
}
.foot:hover{
    text-decoration: underline;
}
.reg{
    width: 80px;
    height: 40px;
    border-radius: 10%;
    background-color: black;
    color: white;
    cursor: pointer;
    
}
.sub1{
    font-family: 'Merienda', cursive;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    padding-top: 50px;
    margin-left: 40px;
}
.img1{
    float: left;
    margin: 30px;
    margin-left: 5%;
    height: 300px;
    width: 400px;
    overflow: hidden;
}
.card1{
    margin: 120px;
    margin-top: 0;
    overflow: hidden;
}
.img2{
    float: right;
    margin: 30px;
    margin-right: 5%;
    height: 300px;
    width: 400px;
    overflow: hidden;
}
.text{
    margin: 50px;
    font-size: 22px;
}

#register, #login {
  width: 300px;
  border: 1px solid #d6d7da;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 100px auto;
}

form label, form input {
  display: block;
  //margin-bottom: 10px;
  width: 90%
}

form input {
  padding: 10px;
  border: solid 1px #BDC7D8;

}

.button {
  background-color: #00BFFF;
  border-color: #3ac162;
  font-weight: bold;
  padding: 12px 15px;
  color: #ffffff;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px;
}
.card2{
    margin: 0 15%;
    overflow: hidden; 
    border-radius: 55px;
    background: url('https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-Background-Images-2.png');
    background-size: cover;
}
.timeline-page{
    margin: 50px;
    text-align: left;
    margin-left: 300px;
}
.like{
    font-family: 'Merienda', cursive;
    margin: 1%;
    text-align: left;
}


.image{
    width: 350px;
    height: 250px;
    margin: 30px 0 0 0;
}
.card3{
    margin: 100px;
    margin-top: 40px;
    overflow: hidden;
    background: url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/21/71/295830892804e4c.jpg');
    background-size: cover;
    font-family: Poppins, sans-serif;
    border: 1px solid skyblue;
    border-radius: 15px;
    box-shadow: 2px 4px 4px 2px skyblue;
}
.im{
    margin-left: 140px;
    padding: 0 35px 15px;
}
.im1{
    padding-top: 15px;
    margin-left: 170px;
    font-size: 25px;
    font-weight: bold;
    color: crimson;
}

.AddComment1{
    width: 50%; 
}
.btn{
    width: 20%;
}
.time{
    width:480px;
    height:325px;
}

.st{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.detail1 img{
    width: 850px;
    height: 500px;
    float: left;
    margin: 2%;
}
.detail2{
   margin-top: 5%;
    font-size: 18px;
}
.card4{
    
    overflow: hidden;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpY4zNK4DniFBNbbFXkHetT2ZUhJohni8DWVZmnULTjfIC7Jakig');
    background-size: cover;
}
.fileInput{
  border:none;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
.comm{
    width: 80%;
    text-align: left;
    margin-left: 50px;
    font-size: 18px;
}
.comm1{
    width: 80%;
    text-align: left;
    margin-left: 220px;
}
.detail3 img{
    width: 720px;
    height: 420px;
    float: left;
    margin: 12%;
}
.detail4{
   margin: 12%;
    text-align: justify;
    color: indianred;
    font-weight: bold;
    font-size: 18px;
}
.image1{
    width: 400px;
    height: 250px;
    margin: 35px 0 0 0;
}
.im2{
    margin-left: 180px;
    padding: 0 35px 15px;
}
.like1{
    font-family: 'Merienda', cursive;
    margin: 2%;
    margin-left: 180px;
}
.text3{
    color: crimson;
    font-weight: bold;
    font-size: 18px;
}
.heading{
    font-weight: bold;
    text-align: left;
    margin-top: 85px;
    margin-left: 150px;
}
.categ{  
    background: url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/21/71/295830892804e4c.jpg');
    background-size: cover;
}
.sub2{
    font-family: "Vidaloka", serif;
    margin-top: 50px;
    font-size: 50px;
    color: crimson;
    padding-top: 50px;
    font-weight: 600;
}
.st2{
    margin-left: 440px;
    font-weight: bold;
    
}
.backImage{
    background-image: url('https://www.dhresource.com/0x0s/f2-albu-g5-M01-43-94-rBVaJFlIdyOAPVvpAANnAP2QAFA196.jpg/beach-themed-photo-studio-backgrounds-beautiful.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}
.heythere{
    margin: 0;
    color: white;
    margin-bottom: 15px;
    font-size: 75px;
    font-family: 'Merienda', cursive;
}
.logout{
    float: right;
    margin-right: 4%;
    width: 150px;
    height: 45px;
    border-radius: 15%;
    color: white;
    background-color: black;
    cursor: pointer;
}
.lastImage{
    background: url('https://i.imgur.com/l33NVuL.png');
    background-size: cover;
    height: 500px;
    font-family: "Vidaloka", serif;
}
.lastImage h2{
    padding: 170px;
    font-size: 80px;
    font-weight: 500;
}
.previewComponent h4{
    color: darkred;
    margin-left: 25px;
}
.icons{
    width: 50px;
    height: 50px;
    padding: 5px;
}
.category{
    font-size: 17px;
}